
<h3 class="post-title">
<a href="/post/{{ p.id }}/{{ p.slug }}">{{p.title}}</a>
</h3>
{% if not p.is_page %}
<p class="post-meta-full">
    <span>
        📎 {{p.date | date}}
    </span>
    {% for tag in p.tags %}
        <a href="/?tag={{ tag }}">{{tag}}</a>
    {% endfor %}
</p>
{%endif %}
<blockquote>
    <p>
      {{html|safe}}
    </p>
</blockquote> 
<div class="post-meta">

</div>