<!DOCTYPE html>
<html lang="en">
<head>

    {% for key, value in meta %}
    <meta name="{{key}}" value="{{value}}"/>
    {% endfor %}
{% block head %}
    <title>{{title}}</title>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:url" content="{{url|safe}}" />
{% endblock head %}

</head>
<body class="terminal">

<div class="blog">
{% include "plain/partials/header" %}
{% block content %}
{% endblock %}


<section class="footer">
<em><a href="/feed">RSS</a>
{% for page in all_pages %}
| <a href="/post/{{page.id}}/{{page.slug}}">{{page.title}}</a>
{% endfor %}
</em>
</section>
</div>

{% include "plain/partials/css" %}
</body>

</html>