<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css">
    {% for key, value in meta %}
    <meta name="{{key}}" value="{{value}}"/>
    {% endfor %}
    {% block head %}
    <title>{{title}}</title>
    {% endblock head %}
</head>
<body>
<h2><a href="/" style="text-decoration:none;color:black">{{ title }}</a></h2>

<b>{{ sub_title }}</b>

    {% block content %}
    {% endblock head %}
    <p>
<a href="https://github.com/cmllr/spargel">Proudly written in Rust</a>
</p>
</body>

</html>