<!DOCTYPE html>
<html lang="en">
<head>

{% include "partials/css" %}
    {% for key, value in meta %}
    <meta name="{{key}}" value="{{value}}"/>
    {% endfor %}
{% block head %}
    <title>{{title}}</title>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:url" content="{{url|safe}}" />
{% endblock head %}

</head>
<body class="terminal">

<div class="blog">
{% include "partials/header" %}

    {% block content %}
{% endblock %}
</div>

{% include "partials/footer" %}
</body>

</html>