{% extends "layout" %}
{% block content %}
{% if not is_edit_mode %}
{% include "partials/post" %}
{% else %}
{% include "partials/post_editor" %}
{% endif %}
{% endblock content %}



{% block head %}
<title>{{p.title}} - {{title}}</title>
<meta property="og:title" content="{{p.title}} - {{title}}" />
<meta property="og:url" content="{{url|safe}}/{{p.id}}/{{p.slug}}" />
{% if p.image %}
    <meta property="og:image" content="{{p.image|safe}}" />
{%endif %}
{% endblock head %}