<div class="container pagination">
{% if pagination.has_prev %}
<a href="/?page={{pagination.cur_page - 1}}">  zurück </a>
{% endif %}
{{pagination.cur_page}}/{{pagination.all_pages}}
{% if pagination.has_next %}
<a href="/?page={{pagination.cur_page + 1}}"> weiter </a>
{% endif %}
</div>