<section>
    {% if is_edit_mode %}
        <a class="new-post-link" href="/post/new/new?token={{token}}">🆕</a>
    {% endif %}
    {% for p in pagination.items %}
        {% include "terminal.css/partials/post_excempt" %}
    {% endfor %}
</section>