<!DOCTYPE html>
<html lang="en">
<head>

    {% for key, value in meta %}
    <meta name="{{key}}" value="{{value}}"/>
    {% endfor %}
{% block head %}
    <title>{{title}}</title>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:url" content="{{url|safe}}" />
{% endblock head %}

</head>
<body class="terminal">

<div class="blog">
{% include "terminal.css/partials/header" %}

    {% block content %}
{% endblock %}
</div>

{% include "terminal.css/partials/footer" %}
{% include "terminal.css/partials/css" %}
</body>

</html>